@charset "UTF-8";
@font-face {font-family: 'MyWebFont'; src: url('webfont.eot'); src: url('webfont.eot?#iefix') format('embedded-opentype'), url('webfont.woff') format('woff'), url('webfont.ttf') format('truetype'), url('webfont.svg#svgFontName') format('svg');}
@import url("print.css") print;

/*
TODO: @document
TODO: @supports
TODO: Conditionals
*/

* { /* match */
    color: blue;
}
.foo { /* match */
    color: red;
}
.bar { /* match */
    background: blue;
}
.foo .bar { /* no match */
    float: left;
}
.bar #baz { /* match */
}
.qux { /* match */
} /* comment here used to break things */
.quux { /* no match */
}
.foo .qux .bar {
}
span[dir="ltr"] { /* match */
    float: left;
}
.bar span[dir="ltr"] { /* match */
    float: right;
}
.foo span[dir="ltr"] { /* no match */
    float: right;
}
.foo .qux .bar .baz {
}
@page {
  margin: 2in;
}
@-webkit-keyframes progress-bar-stripes {
        from { background-position: 40px 0 }
        to { background-position: 0 0 }
}
@-moz-keyframes progress-bar-stripes {
        from { background-position: 40px 0 }
        to { background-position: 0 0 }
}
@-ms-keyframes progress-bar-stripes {
        from { background-position: 40px 0 }
        to { background-position: 0 0 }
}
@-o-keyframes progress-bar-stripes {
        from { background-position: 0 0 }
        to { background-position: 40px 0 }
}
@keyframes progress-bar-stripes {
        from { background-position: 40px 0 }
        to { background-position: 0 0 }
}
@media all and (min-width: 500px) { .bar { background: blue; } }
/* This comment should not make tests fail (it used to) */
