* { /* match */
    color: blue;
}
@media all and (min-width: 500px) {
    color: blue;
}
.foo { /* match */
    color: red;
}
.bar { /* match */
    background: blue;
}
.foo .bar { /* no match */
    float: left;
}
.bar #baz { /* match */
}
.qux { /* match */
} /* comment here used to break things */
.quux { /* no match */
}
.foo .qux .bar {
}
span[dir="ltr"] { /* match */
    float: left;
}
.bar span[dir="ltr"] { /* match */
    float: right;
}
.foo span[dir="ltr"] { /* no match */
    float: right;
}
.foo .qux .bar .baz {
}
/* This comment should not make tests fail (it used to) */